<template name="settingsLayout">
  <div class="">
    {{> Template.dynamic template=nav}}
    <div class="container">
      {{> flashMessages}}
      <h3>Settings</h3>
      <div class="row">
        <div class="col-xs-12 col-lg-4">
          <div class="list-group">
            <p class="list-group-item disabled">
              Personal settings
            </p>
            <a class="{{isActiveRoute 'App.settings.profile'}} list-group-item" href="{{pathFor 'App.settings.profile'}}">Profile</a>
            <a class="{{isActiveRoute 'App.settings.account'}} list-group-item" href="{{pathFor 'App.settings.account'}}">Account</a>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6">
          {{> Template.dynamic template=main}}
        </div>
      </div>
    </div>
  </div>
  {{> Template.dynamic template=footer}}
</template>
